@import "./_reset.scss";
@import "./_fonts.scss";

body,
html {
  font-family: "Open Sans";
  font-size: 18px;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 100;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
p {
  margin-top: 1em;
}
b {
  font-weight: bold;
}


header {
  text-align: center;
  padding: 40px 0;
  background: white url(/static/img/code-lines.png) no-repeat center;
  background-size: cover;
  color: white;
  .avatar {
    margin: auto;
    width: 200px;
    border-radius: 50%;
  }
}

.skills {
  color: #f66303;
  background: #1e2329;
  background: white url(/static/img/bg-no-frame.png) no-repeat center;
  background-size: cover;
  padding: 40px 0;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    .skill {
      text-align: center;
      flex-basis: calc(100% / 4);
      margin-top: 20px;
      @media (max-width: 720px) { //720px
        flex-basis: calc(100% / 2);
      }
      @media (max-width: 640px) {
        flex-basis: calc(100%);
      }

      i {
        font-size: 64px;
        color: white;
        background: #f66303;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
      }
    }
  }
}

.projects {
  background: #faf4e9;
  h2 {
    color: #f66303;
  }
}
.projects .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

.project {
  position: relative;
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
  //border: 1px solid;
  box-sizing: border-box;
  font-size: 16px;
  @media (max-width: 640px) {
    flex-basis: calc(100%);
  }
  .btn-outline {
    border: 1px solid white;
    padding: 20px 40px;
  }
  position: relative;
  .thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
    border: none;
    background-color: white;
  }
  .overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms, visibility 200ms;
    cursor: default;

    background: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 20px;
    h2,
    p,
    a {
      color: white;
    }
    .btn-outline {
      position: absolute;
      bottom: 20px;
      left: calc(50% - 90px);
      width: 180px;
    }
  }
  /* Display overlay on hover */
  &:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
  /* Scale up on hover */
  &:hover {
    transform: scale(1.05);
    transition: all 200ms;
  }
}

.project::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.project .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex; /* added for centered text */
  justify-content: center; /* added for centered text */
  align-items: center; /* added for centered text */
}

.about-bg {
  background: white url(/static/img/macbook.png) no-repeat center;
  background-size: cover;
}

.about {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 40px;

  a {
    color: white;
    font-size: 64px;
    display: block;
    width: 64px;
    margin: auto;
    margin-top: 20px;
  }
}
